body{
    margin:0;
    padding:0;
    background-color: rgb(241, 229, 176);
}

.heading{
    text-align: center;
}

ul{
    display: flex;
    margin: 0;
    flex-direction: row;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 41, 41);
}
  
li{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding:20px;
}
  
li a:hover{
    background-color: #111;
}

.cointainer{
    text-align: center; 
    margin: auto;
    font-family:'Courier New', Courier, monospace;
}
table{
    margin:auto;
}

input{
    font-size: 30px;
    border: 4px solid black;
    border-radius: 21px;
    outline:none;
    font-family: 'Itim', cursive;
    margin:5px;
    text-align: center;
}

button{
    height: 58px;
    width:5rem;
    margin: 2px;
    background-color: #9de294;
    border-radius: 15px;
    font-size:30px;
}

.calculator{
    display:inline-block;
    border-radius: 15px;
    border:solid black 4px;
    padding:10px;
    width:auto;
    background-color:rgb(144, 230, 95);
}

.special{
    background-color: #e6a95b;
}

.last{
    text-align: right;
    margin:4rem;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;;
}


@media only screen and (max-width:441px){
    ul{
        flex-direction: column;
    }
}